.nav{
    display: flex;
    background-color: #3b3939;
    color: white;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: sans-serif;
}

.main{
    display: flex;
    background-color: #056f77;
    color: white;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: sans-serif;
    height: 100px;
}
